.xmlFile {
    position: relative;
}

.xmlFile__butons {
    z-index: 1;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.xmlFile__spinner {
    margin-top: 30%;
    text-align: center;
}

.xmlFile__butons button {
    margin-bottom: 20px;
}